.tnw-salesforce-primary-menu-icon {
    display: block;
    background: transparent url("../images/sf-logo-small.png") no-repeat 0 50%;
    padding-left: 30px;
}
.tnw-salesforce-secondary-menu-icon {
    display: inline-block;
    padding-left: 10px;
}
.tnw-salesforce-secondary-menu-icon {
    display: inline-block;
    vertical-align: middle;
}
.tnw-salesforce-secondary-menu-icon::before {
    display: inline-block;
    background: transparent url("../images/sf-logo-small.png") no-repeat 0 50%;
    width: 25px;
    height: 21px;
    margin-right: 5px;
    content: ' ';
    vertical-align: middle;
}
.tnw-salesforce-primary-menu-item.active {
    background-color: #2189BD;
}
.tnw-salesforce-primary-menu-item.active > .tnw-salesforce-primary-menu-icon {
    background-color: #2189BD;
}

.tnw-salesforce-tab-icon {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
    cursor: pointer;
}
.tnw-salesforce-tab-label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}
#import_form .fileUpload {
    position: relative;
    overflow: hidden;
}
#import_form .fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.tnw-entry-salesforce select {
    width: 280px;
}

.tnw-owner-wrapper {
    position: relative;
}

.tnw-owner-wrapper .tnw-owner-link {
    position: absolute; right: -108px; top: -2px;
}

/* Hide 'Captured in Salesforce' payment method */
#p_method_tnw_import {
    display: none;
}
label[for="p_method_tnw_import"] {
    display: none;
}
select[readonly].select2-hidden-accessible + .select2-container {
    pointer-events: none;
    touch-action: none;

    .select2-selection {
        background: #eee;
        box-shadow: none;
    }

    .select2-selection__arrow,
    .select2-selection__clear {
        display: none;
    }
}