<?xml version="1.0"?>
<config>
    <modules>
        <TNW_Salesforce>
            <version>0.01.56.10.0000</version>
        </TNW_Salesforce>
    </modules>
    <global>
        <cache>
            <types>
                <tnw_salesforce module="tnw_salesforce" translate="label description">
                    <label>Salesforce Cache</label>
                    <description>Cached data from Salesforce</description>
                    <tags>TNW_SALESFORCE</tags>
                </tnw_salesforce>
            </types>
        </cache>
        <models>
            <customer>
                <rewrite>
                    <entity_setup>TNW_Salesforce_Model_Customer_Entity_Setup</entity_setup>
                </rewrite>
            </customer>
            <sales>
                <rewrite>
                    <service_order>TNW_Salesforce_Model_Service_Order</service_order>
                    <order_status_history>TNW_Salesforce_Model_Order_Status_History</order_status_history>
                    <order_shipment_comment>TNW_Salesforce_Model_Order_Shipment_Comment</order_shipment_comment>
                    <order_invoice_comment>TNW_Salesforce_Model_Order_Invoice_Comment</order_invoice_comment>
                    <order_creditmemo_comment>TNW_Salesforce_Model_Order_Creditmemo_Comment</order_creditmemo_comment>
                </rewrite>
            </sales>
            <catalog>
                <rewrite>
                    <product>TNW_Salesforce_Model_Product</product>
                </rewrite>
            </catalog>
            <tnw_salesforce>
                <class>TNW_Salesforce_Model</class>
                <resourceModel>tnw_salesforce_mysql4</resourceModel>
            </tnw_salesforce>
            <tnw_salesforce_mysql4>
                <class>TNW_Salesforce_Model_Mysql4</class>
                <entities>
                    <queue_storage>
                        <table>tnw_salesforce_queue_storage</table>
                    </queue_storage>
                    <queue>
                        <table>tnw_salesforce_queue</table>
                    </queue>
                    <mapping>
                        <table>tnw_salesforce_mapping</table>
                    </mapping>
                    <import>
                        <table>tnw_salesforce_imports</table>
                    </import>
                    <order_status>
                        <table>tnw_salesforce_order_status</table>
                    </order_status>
                    <order_creditmemo_status>
                        <table>tnw_salesforce_order_creditmemo_status</table>
                    </order_creditmemo_status>
                    <assignmentrule>
                        <table>tnw_salesforce_assignmentrule</table>
                    </assignmentrule>
                    <account_matching>
                        <table>tnw_salesforce_account_matching</table>
                    </account_matching>
                    <log>
                        <table>tnw_salesforce_log</table>
                    </log>
                    <check>
                        <!-- no DB -->
                    </check>
                </entities>
            </tnw_salesforce_mysql4>
            <tnw_salesforce_api_entity>
                <class>TNW_Salesforce_Model_Api_Entity</class>
                <resourceModel>tnw_salesforce_api_entity_resource</resourceModel>
            </tnw_salesforce_api_entity>
            <tnw_salesforce_api_entity_resource>
                <class>TNW_Salesforce_Model_Api_Entity_Resource</class>
                <entities>
                    <lead>
                        <table>Lead</table>
                    </lead>
                    <account>
                        <table>Account</table>
                    </account>
                    <contact>
                        <table>Contact</table>
                    </contact>
                    <opportunity>
                        <table>Opportunity</table>
                    </opportunity>
                    <campaign>
                        <table>Campaign</table>
                    </campaign>
                    <campaign_member>
                        <table>CampaignMember</table>
                    </campaign_member>
                    <currency>
                        <table>CurrencyType</table>
                    </currency>
                    <user>
                        <table>User</table>
                    </user>
                </entities>
            </tnw_salesforce_api_entity_resource>
        </models>
        <resources>
            <tnw_salesforce_setup>
                <setup>
                    <module>TNW_Salesforce</module>
                    <class>TNW_Salesforce_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </tnw_salesforce_setup>
            <tnw_salesforce_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </tnw_salesforce_write>
            <tnw_salesforce_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </tnw_salesforce_read>
            <tnw_salesforce_delete>
                <connection>
                    <use>core_delete</use>
                </connection>
            </tnw_salesforce_delete>
        </resources>
        <blocks>
            <tnw_salesforce>
                <class>TNW_Salesforce_Block</class>
            </tnw_salesforce>
            <adminhtml>
                <rewrite>
                    <catalog_product_edit>TNW_Salesforce_Block_Adminhtml_Catalog_Product_Edit</catalog_product_edit>
                    <system_store_store>TNW_Salesforce_Block_Adminhtml_System_Store</system_store_store>
                    <system_currency>TNW_Salesforce_Block_Adminhtml_System_Currency</system_currency>
                    <sales_order_status_grid>TNW_Salesforce_Block_Sales_Order_Status_Grid</sales_order_status_grid>
                    <sales_order_status_new_form>TNW_Salesforce_Block_Sales_Order_Status_New_Form</sales_order_status_new_form>
                    <sales_order_status_edit_form>TNW_Salesforce_Block_Sales_Order_Status_Edit_Form</sales_order_status_edit_form>
                    <sales_order_view_tab_shipments>TNW_Salesforce_Block_Adminhtml_Sales_Order_View_Tab_Shipments</sales_order_view_tab_shipments>
                    <sales_order_view_tab_invoices>TNW_Salesforce_Block_Adminhtml_Sales_Order_View_Tab_Invoices</sales_order_view_tab_invoices>
                    <sales_order_view_tab_creditmemos>TNW_Salesforce_Block_Adminhtml_Sales_Order_View_Tab_Creditmemos</sales_order_view_tab_creditmemos>
                    <customer_edit_tab_account>TNW_Salesforce_Block_Adminhtml_Customer_Edit_Tab_Account</customer_edit_tab_account>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <tnw_salesforce>
                <class>TNW_Salesforce_Helper</class>
            </tnw_salesforce>
        </helpers>
        <template>
            <email>
                <salesforce_developer_template module="tnw_salesforce" translate="label">
                    <label>Notification</label>
                    <file>tnw_salesforce/notification.html</file>
                    <type>html</type>
                </salesforce_developer_template>
            </email>
        </template>
        <translate>
            <modules>
                <TNW_Salesforce>
                    <files>
                        <default>TNW_Salesforce.csv</default>
                    </files>
                </TNW_Salesforce>
            </modules>
        </translate>
        <events>

            <tnw_salesforce_cron_after>
                <observers>
                    <tnw_salesforce_sync_after>
                        <type>singleton</type>
                        <class>tnw_salesforce/tool_observer</class>
                        <method>logAvailableAPICalls</method>
                    </tnw_salesforce_sync_after>
                </observers>
            </tnw_salesforce_cron_after>

            <controller_action_postdispatch>
                <observers>
                    <tnw_salesforce_sync_after>
                        <type>singleton</type>
                        <class>tnw_salesforce/tool_observer</class>
                        <method>logAvailableAPICalls</method>
                    </tnw_salesforce_sync_after>
                </observers>
            </controller_action_postdispatch>

            <!-- Contact Us form event, new version Magento >= 1.9 -->
            <controller_action_postdispatch_contacts_index_post>
                <observers>
                    <tnw_salesforce_customer_observer>
                        <class>tnw_salesforce/customer_observer</class>
                        <method>triggerWebToLead</method>
                    </tnw_salesforce_customer_observer>
                </observers>
            </controller_action_postdispatch_contacts_index_post>

            <!-- Contact Us form event, old version Magento <= 1.7 -->
            <controller_action_postdispatch_contacts_contacts_post>
                <observers>
                    <tnw_salesforce_customer_observer>
                        <class>tnw_salesforce/customer_observer</class>
                        <method>triggerWebToLead</method>
                    </tnw_salesforce_customer_observer>
                </observers>
            </controller_action_postdispatch_contacts_contacts_post>

            <!-- Newsletter Subscription: Create -->
            <newsletter_subscriber_save_commit_after>
                <observers>
                    <tnw_salesforce_newsletter_observer>
                        <class>tnw_salesforce/newsletter_observer</class>
                        <method>triggerCreateEvent</method>
                    </tnw_salesforce_newsletter_observer>
                </observers>
            </newsletter_subscriber_save_commit_after>

            <!-- Newsletter Subscription: Delete -->
            <newsletter_subscriber_delete_commit_after>
                <observers>
                    <tnw_salesforce_newsletter_observer>
                        <class>tnw_salesforce/newsletter_observer</class>
                        <method>triggerDeleteEvent</method>
                    </tnw_salesforce_newsletter_observer>
                </observers>
            </newsletter_subscriber_delete_commit_after>

            <!-- -->
            <sales_order_invoice_save_commit_after>
                <observers>
                    <tnw_salesforce_order_invoice_save_after>
                        <class>tnw_salesforce/order_invoice_observer</class>
                        <method>saveAfter</method>
                    </tnw_salesforce_order_invoice_save_after>
                </observers>
            </sales_order_invoice_save_commit_after>

            <sales_order_shipment_save_commit_after>
                <observers>
                    <tnw_salesforce_order_shipment_save_after>
                        <class>tnw_salesforce/order_shipment_observer</class>
                        <method>saveAfter</method>
                    </tnw_salesforce_order_shipment_save_after>
                </observers>
            </sales_order_shipment_save_commit_after>

            <sales_order_creditmemo_save_commit_after>
                <observers>
                    <tnw_salesforce_order_creditmemo_save_after>
                        <class>tnw_salesforce/order_creditmemo_observer</class>
                        <method>saveAfter</method>
                    </tnw_salesforce_order_creditmemo_save_after>
                </observers>
            </sales_order_creditmemo_save_commit_after>

            <sales_order_shipment_track_save_commit_after>
                <observers>
                    <tnw_salesforce_order_shipment_track_save_after>
                        <class>tnw_salesforce/order_shipment_observer</class>
                        <method>saveTrackAfter</method>
                    </tnw_salesforce_order_shipment_track_save_after>
                </observers>
            </sales_order_shipment_track_save_commit_after>

            <!-- Order Save Event: Checkout -->
            <checkout_submit_all_after>
                <observers>
                    <tnw_salesforce_sale_observer>
                        <class>tnw_salesforce/sale_observer</class>
                        <method>triggerSalesforceEvent</method>
                    </tnw_salesforce_sale_observer>
                </observers>
            </checkout_submit_all_after>

            <!-- Order Save Event: Status update-->
            <sales_order_save_commit_after>
                <observers>
                    <tnw_salesforce_sale_observer>
                        <class>tnw_salesforce/sale_observer</class>
                        <method>orderStatusUpdateTrigger</method>
                    </tnw_salesforce_sale_observer>
                </observers>
            </sales_order_save_commit_after>

            <!-- Order Address Save Event -->
            <sales_order_address_save_commit_after>
                <observers>
                    <tnw_salesforce_sale_observer>
                        <class>tnw_salesforce/sale_observer</class>
                        <method>orderStatusUpdateTrigger</method>
                    </tnw_salesforce_sale_observer>
                </observers>
            </sales_order_address_save_commit_after>

            <tnw_salesforce_order_save_form>
                <observers>
                    <tnw_salesforce_order_observer>
                        <class>tnw_salesforce/sale_observer</class>
                        <method>triggerSalesforceEvent</method>
                    </tnw_salesforce_order_observer>
                </observers>
            </tnw_salesforce_order_save_form>

            <aitcfm_order_save_after>
                <observers>
                    <tnw_salesforce_sale_observer>
                        <class>tnw_salesforce/sale_observer</class>
                        <method>triggerAitocSalesforceEvent</method>
                    </tnw_salesforce_sale_observer>
                </observers>
            </aitcfm_order_save_after>

            <adminhtml_controller_action_predispatch_start>
                <observers>
                    <tnw_salesforce_controller_action_predispatch_start>
                        <type>singleton</type>
                        <class>tnw_salesforce/observer</class>
                        <method>adjustMenu</method>
                    </tnw_salesforce_controller_action_predispatch_start>
                </observers>
            </adminhtml_controller_action_predispatch_start>

            <!-- admin login success -->
            <admin_session_user_login_success>
                <observers>
                    <tnw_salesforce_fix_acl>
                        <type>singleton</type>
                        <class>tnw_salesforce/observer</class>
                        <method>fixAcl</method>
                    </tnw_salesforce_fix_acl>
                </observers>
            </admin_session_user_login_success>

            <tnw_salesforce_order_save>
                <observers>
                    <tnw_salesforce_sale_observer>
                        <class>tnw_salesforce/sale_observer</class>
                        <method>salesforcePush</method>
                    </tnw_salesforce_sale_observer>
                </observers>
            </tnw_salesforce_order_save>

            <!-- Order Cancel Event -->
            <order_cancel_after>
                <observers>
                    <tnw_salesforce_sale_observer>
                        <class>tnw_salesforce/sale_observer</class>
                        <method>orderCancelled</method>
                    </tnw_salesforce_sale_observer>
                </observers>
            </order_cancel_after>

            <!-- Notes Save Event -->
            <tnw_salesforce_order_comments_save_after>
                <observers>
                    <tnw_salesforce_notes_observer>
                        <class>tnw_salesforce/sale_notes_observer</class>
                        <method>baseNotesPush</method>
                    </tnw_salesforce_notes_observer>
                </observers>
            </tnw_salesforce_order_comments_save_after>

            <tnw_salesforce_invoice_comments_save_after>
                <observers>
                    <tnw_salesforce_notes_observer>
                        <class>tnw_salesforce/sale_notes_observer</class>
                        <method>baseNotesPush</method>
                    </tnw_salesforce_notes_observer>
                </observers>
            </tnw_salesforce_invoice_comments_save_after>

            <tnw_salesforce_shipment_comments_save_after>
                <observers>
                    <tnw_salesforce_notes_observer>
                        <class>tnw_salesforce/sale_notes_observer</class>
                        <method>baseNotesPush</method>
                    </tnw_salesforce_notes_observer>
                </observers>
            </tnw_salesforce_shipment_comments_save_after>

            <tnw_salesforce_creditmemo_comments_save_after>
                <observers>
                    <tnw_salesforce_notes_observer>
                        <class>tnw_salesforce/sale_notes_observer</class>
                        <method>baseNotesPush</method>
                    </tnw_salesforce_notes_observer>
                </observers>
            </tnw_salesforce_creditmemo_comments_save_after>

            <!-- Product Save Event -->
            <catalog_product_save_commit_after>
                <observers>
                    <tnw_salesforce_product_observer>
                        <class>tnw_salesforce/product_observer</class>
                        <method>salesforceTriggerEvent</method>
                    </tnw_salesforce_product_observer>
                </observers>
            </catalog_product_save_commit_after>

            <tnw_salesforce_product_save>
                <observers>
                    <tnw_salesforce_product_observer>
                        <class>tnw_salesforce/product_observer</class>
                        <method>salesforcePush</method>
                    </tnw_salesforce_product_observer>
                </observers>
            </tnw_salesforce_product_save>

            <!-- Customer Save Event -->
            <customer_save_commit_after>
                <observers>
                    <tnw_salesforce_customer_observer>
                        <class>tnw_salesforce/customer_observer</class>
                        <method>salesforceTriggerEvent</method>
                    </tnw_salesforce_customer_observer>
                </observers>
            </customer_save_commit_after>
            <aitcfm_customer_save_after>
                <observers>
                    <tnw_salesforce_customer_observer>
                        <class>tnw_salesforce/customer_observer</class>
                        <method>salesforceAitocTriggerEvent</method>
                    </tnw_salesforce_customer_observer>
                </observers>
            </aitcfm_customer_save_after>
            <tnw_salesforce_customer_save>
                <observers>
                    <tnw_salesforce_customer_observer>
                        <class>tnw_salesforce/customer_observer</class>
                        <method>salesforcePush</method>
                    </tnw_salesforce_customer_observer>
                </observers>
            </tnw_salesforce_customer_save>
            <!-- Website Save Event -->
            <website_save_commit_after>
                <observers>
                    <tnw_salesforce_website_observer>
                        <class>tnw_salesforce/website_observer</class>
                        <method>salesforcePush</method>
                    </tnw_salesforce_website_observer>
                </observers>
            </website_save_commit_after>
            <adminhtml_store_edit_form_prepare_form>
                <observers>
                    <tnw_salesforce_website_edit_observer>
                        <class>tnw_salesforce/website_observer</class>
                        <method>updateForm</method>
                    </tnw_salesforce_website_edit_observer>
                </observers>
            </adminhtml_store_edit_form_prepare_form>

            <!-- Pushing order object into Salesforce post all validation -->
            <tnw_salesforce_order_process>
                <observers>
                    <tnw_salesforce_push_order>
                        <class>tnw_salesforce/observer</class>
                        <method>pushOrder</method>
                    </tnw_salesforce_push_order>
                </observers>
            </tnw_salesforce_order_process>
            <!-- Pushing opportunity object into Salesforce post all validation -->
            <tnw_salesforce_opportunity_process>
                <observers>
                    <tnw_salesforce_push_opportunity>
                        <class>tnw_salesforce/observer</class>
                        <method>pushOpportunity</method>
                    </tnw_salesforce_push_opportunity>
                </observers>
            </tnw_salesforce_opportunity_process>
            <!-- Pushing invoice object into Salesforce post all validation -->
            <tnw_salesforce_invoice_process>
                <observers>
                    <tnw_salesforce_push_invoice>
                        <class>tnw_salesforce/observer</class>
                        <method>pushInvoice</method>
                    </tnw_salesforce_push_invoice>
                </observers>
            </tnw_salesforce_invoice_process>
            <!-- Pushing shipment object into Salesforce post all validation -->
            <tnw_salesforce_shipment_process>
                <observers>
                    <tnw_salesforce_push_shipment>
                        <class>tnw_salesforce/observer</class>
                        <method>pushShipment</method>
                    </tnw_salesforce_push_shipment>
                </observers>
            </tnw_salesforce_shipment_process>
            <!-- Pushing creditmemo object into Salesforce post all validation -->
            <tnw_salesforce_creditmemo_process>
                <observers>
                    <tnw_salesforce_push_creditmemo>
                        <class>tnw_salesforce/observer</class>
                        <method>pushCreditMemo</method>
                    </tnw_salesforce_push_creditmemo>
                </observers>
            </tnw_salesforce_creditmemo_process>
            <!-- Update order status - Opportunity -->
            <tnw_salesforce_opportunity_status_update>
                <observers>
                    <tnw_salesforce_update_opportunity>
                        <class>tnw_salesforce/observer</class>
                        <method>updateOpportunity</method>
                    </tnw_salesforce_update_opportunity>
                </observers>
            </tnw_salesforce_opportunity_status_update>
            <!-- Update order status - Order -->
            <tnw_salesforce_order_status_update>
                <observers>
                    <tnw_salesforce_update_order>
                        <class>tnw_salesforce/observer</class>
                        <method>updateOrder</method>
                    </tnw_salesforce_update_order>
                </observers>
            </tnw_salesforce_order_status_update>

            <tnw_salesforce_order_status_new_form>
                <observers>
                    <tnw_salesforce_order_status_update>
                        <class>tnw_salesforce/observer</class>
                        <method>updateOrderStatusForm</method>
                    </tnw_salesforce_order_status_update>
                </observers>
            </tnw_salesforce_order_status_new_form>
            <tnw_salesforce_order_status_save>
                <observers>
                    <tnw_salesforce_order_status_save>
                        <class>tnw_salesforce/observer</class>
                        <method>saveSfStatus</method>
                    </tnw_salesforce_order_status_save>
                </observers>
            </tnw_salesforce_order_status_save>

            <sales_quote_save_before>
                <observers>
                    <persistent>
                        <class>tnw_salesforce/observer</class>
                        <method>prepareQuotesForSync</method>
                    </persistent>
                </observers>
            </sales_quote_save_before>
            <tnw_salesforce_order_send_after>
                <observers>
                    <tnw_salesforce_update_abandoned_status>
                        <class>tnw_salesforce/observer</class>
                        <method>updateAbandonedStatus</method>
                    </tnw_salesforce_update_abandoned_status>
                </observers>
            </tnw_salesforce_order_send_after>

            <salesrule_rule_save_commit_after>
                <observers>
                    <tnw_after_sales_rule_save>
                        <type>singleton</type>
                        <class>tnw_salesforce/sale_observer</class>
                        <method>afterSalesRuleSave</method>
                    </tnw_after_sales_rule_save>
                </observers>
            </salesrule_rule_save_commit_after>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <tnw_salesforce>
                    <file>salesforce.xml</file>
                </tnw_salesforce>
            </updates>
        </layout>
        <events>
            <!--
                show sf status info
                this event because it should be executed only once and if no redirect
            -->
            <controller_action_layout_generate_xml_before>
                <observers>
                    <tnw_salesforce_block_load_observer>
                        <type>singleton</type>
                        <class>tnw_salesforce/observer</class>
                        <method>showSfStatus</method>
                    </tnw_salesforce_block_load_observer>
                </observers>
            </controller_action_layout_generate_xml_before>

            <adminhtml_controller_salesrule_prepare_save>
                <observers>
                    <tnw_controller_sales_rule_prepare_save>
                        <type>singleton</type>
                        <class>tnw_salesforce/sale_observer</class>
                        <method>controllerSalesRulePrepareSave</method>
                    </tnw_controller_sales_rule_prepare_save>
                </observers>
            </adminhtml_controller_salesrule_prepare_save>

            <adminhtml_customer_prepare_save>
                <observers>
                    <tnw_salesforce_customer_prepare_save>
                        <type>singleton</type>
                        <class>tnw_salesforce/customer_observer</class>
                        <method>prepareSave</method>
                    </tnw_salesforce_customer_prepare_save>
                </observers>
            </adminhtml_customer_prepare_save>

            <sales_model_service_quote_submit_before>
                <observers>
                    <tnw_salesforce_quote_submit_before>
                        <class>tnw_salesforce/sale_observer</class>
                        <method>quoteSubmitBefore</method>
                    </tnw_salesforce_quote_submit_before>
                </observers>
            </sales_model_service_quote_submit_before>
        </events>
    </adminhtml>
    <frontend>
        <events>
            <!-- paypal express payment finished event -->
            <!-- This event is dispatched after the order payment is placed from the function Mage_Sales_Model_Order::place() -->
            <!-- http://www.solvingmagento.com/events-and-observers-a-magento-tutorial/ -->
            <sales_order_place_after>
                <observers>
                    <tnw_salesforce_sale_observer_paypal>
                        <class>tnw_salesforce/sale_observer</class>
                        <method>triggerSalesforceEvent</method>
                    </tnw_salesforce_sale_observer_paypal>

                    <tnw_salesforce_sale_observer_add_opportunity>
                        <class>tnw_salesforce/sale_observer</class>
                        <method>addOpportunity</method>
                    </tnw_salesforce_sale_observer_add_opportunity>

                </observers>
            </sales_order_place_after>
            <customer_address_save_commit_after>
                <observers>
                    <tnw_salesforce_customer_address_save_after_observer>
                        <class>tnw_salesforce/customer_observer</class>
                        <method>afterAddressSave</method>
                    </tnw_salesforce_customer_address_save_after_observer>
                </observers>
            </customer_address_save_commit_after>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <tnw_salesforce before="Mage_Adminhtml">TNW_Salesforce_Adminhtml</tnw_salesforce>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <tnw_m2sf_queue>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>tnw_salesforce/cron::processQueue</model></run>
            </tnw_m2sf_queue>
            <tnw_sf2m_bulk_queue>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>tnw_salesforce/cron::backgroundProcess</model></run>
            </tnw_sf2m_bulk_queue>

            <tnw_salesforce_abandoned>
                <schedule><cron_expr>*/5 * * * *</cron_expr></schedule>
                <run><model>tnw_salesforce/cron::addAbandonedToQueue</model></run>
            </tnw_salesforce_abandoned>

            <tnw_salesforce_currency>
                <run><model>tnw_salesforce/cron::syncCurrency</model></run>
            </tnw_salesforce_currency>
        </jobs>
    </crontab>
    <default>
        <salesforce>
            <api_config>
                <api_enable>0</api_enable>
            </api_config>
            <developer>
                <enabled>0</enabled>
                <template>salesforce_developer_template</template>
                <identity>general</identity>
                <copy_method>bcc</copy_method>
                <email_prefix>LIVE</email_prefix>
            </developer>
            <syncronization>
                <sync_type_realtime>sync_type_realtime</sync_type_realtime>
            </syncronization>
            <development_and_debugging>
                <log_enable>1</log_enable>
                <remote_log>0</remote_log>
                <bulk>
                    <max_execution_time>0</max_execution_time>
                    <set_time_limit>0</set_time_limit>
                    <mysql.connect_timeout>180</mysql.connect_timeout>
                    <zend.enable_gc>1</zend.enable_gc>
                </bulk>
                <product_batch_size>500</product_batch_size>
                <customer_batch_size>500</customer_batch_size>
                <website_batch_size>500</website_batch_size>
                <order_batch_size>500</order_batch_size>
                <abandoned_batch_size>500</abandoned_batch_size>
                <invoice_batch_size>500</invoice_batch_size>
                <shipment_batch_size>500</shipment_batch_size>
                <creditmemo_batch_size>500</creditmemo_batch_size>

                <db_log_limit>10000</db_log_limit>
                <enable_soql>0</enable_soql>
                <log_file_read_limit>50</log_file_read_limit>
                <log_api_call_statistic>0</log_api_call_statistic>

            </development_and_debugging>

        </salesforce>
        <salesforce_customer>
            <sync>
                <customer_sync_enable>0</customer_sync_enable>
                <new_customer>1</new_customer>
                <customer_groups_all>1</customer_groups_all>
            </sync>
            <lead_config>
                <customer_integration>0</customer_integration>
                <lead_source>Web</lead_source>
                <use_lead_source_filter>0</use_lead_source_filter>
                <email_notification>0</email_notification>
            </lead_config>
            <contact>
                <contact_asignee>0</contact_asignee>
                <customer_person>0</customer_person>
            </contact>
            <newsletter_config>
                <customer_newsletter_enable_sync>0</customer_newsletter_enable_sync>
            </newsletter_config>
        </salesforce_customer>
        <salesforce_product>
            <general>
                <product_enable>0</product_enable>
                <price_accuracy>2</price_accuracy>
                <sync_type_all>1</sync_type_all>
            </general>
        </salesforce_product>
        <salesforce_order>
            <general>
                <order_sync_enable>0</order_sync_enable>
                <zero_order_sync_enable>1</zero_order_sync_enable>
                <order_product_enable>1</order_product_enable>
                <notes_synchronize>1</notes_synchronize>
                <order_status_all>1</order_status_all>
                <customer_address>0</customer_address>
                <draft_order_status>Draft</draft_order_status>
            </general>
            <currency>
                <multi_currency>0</multi_currency>
                <currency_sync>customer</currency_sync>
            </currency>
            <customer_opportunity>
                <order_or_opportunity>Order</order_or_opportunity>
                <customer_opportunity_role_enable>0</customer_opportunity_role_enable>
                <order_create_reverse_sync>0</order_create_reverse_sync>
                <order_opportunity_status>Closed Won</order_opportunity_status>
                <opportunity_to_order_status>Closed Won</opportunity_to_order_status>
            </customer_opportunity>
            <abandoned_carts>
                <abandoned_cart_enabled>0</abandoned_cart_enabled>
                <abandoned_close_time_after>14</abandoned_close_time_after>
                <abandoned_cart_state>Committed</abandoned_cart_state>
            </abandoned_carts>
            <opportunity_cart>
                <use_tax_product>0</use_tax_product>
                <use_shipping_product>0</use_shipping_product>
                <use_discount_product>0</use_discount_product>
            </opportunity_cart>
            <shopping_cart>
                <use_product_campaign_assignment>0</use_product_campaign_assignment>
                <orders_bundle_item_sync>0</orders_bundle_item_sync>
            </shopping_cart>
            <customer_view>
                <opportunity_display>0</opportunity_display>
                <opportunity_filter>customer</opportunity_filter>
            </customer_view>
        </salesforce_order>
        <salesforce_contactus>
            <general>
                <customer_form_enable>0</customer_form_enable>
            </general>
        </salesforce_contactus>
        <salesforce_invoice>
            <invoice_configuration>
                <sync_enable>0</sync_enable>
            </invoice_configuration>
        </salesforce_invoice>
        <salesforce_shipment>
            <shipment_configuration>
                <sync_enabled>0</sync_enabled>
            </shipment_configuration>
        </salesforce_shipment>
        <salesforce_creditmemo>
            <creditmemo_configuration>
                <sync_enabled>0</sync_enabled>
            </creditmemo_configuration>
        </salesforce_creditmemo>
        <payment>
            <tnw_import>
                <active>0</active>
                <model>tnw_salesforce/order_payment_method_import</model>
                <order_status>pending</order_status>
                <title>Captured in Salesforce</title>
                <allowspecific>0</allowspecific>
                <group>offline</group>
            </tnw_import>
        </payment>
    </default>
</config>
